/* GLOBAL STYLING / RESETS */

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NavBar styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightskyblue;
  color: beige;
  padding: 0 3%;
  height: 50px;
}

nav a {
  color: beige;
  text-decoration: none;
}

nav a:not(:last-child) {
  margin-right: 10px;
}

nav a.active {
  text-decoration: underline;
}

/* Home Page styling */

div .home-wrapper {
  text-align: center;
  margin: 20px auto;
}

.headshot {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

/* Projects Page Styling */

#spacecards {
  text-align: center;
  display: flex;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

#card-projects {
  height: 350px;
  align-items: center;
}

#btns-projects {
  display: flex;
}

.btn-primary {
  background: lightskyblue !important;
  align-items: center;
  justify-content: center;
}

/* Footer styling */

div .footer {
  text-align: center;
  border-top: 2px solid lightskyblue;
  padding: 50px;
}
