/* GLOBAL STYLING / RESETS */
:root {
  --background: #87cefa;
  --main: #f5f5dc;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

/* Main Styling */

/* NavBar styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background);
  color: var(--main);
  padding: 0 3%;
  height: 50px;
}

nav a {
  color: var(--main);
  text-decoration: none;
}

nav a:not(:last-child) {
  margin-right: 10px;
}

nav a.active {
  text-decoration: underline;
}

/* Home Page styling */

div .home-wrapper {
  text-align: center;
  margin: 20px auto;
}

.headshot {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

/* Projects Page Styling */

#spacecards {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 25px;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

/* Project Card Styling */
.card {
  border: none !important;
  box-shadow: 2px 2px 5px #999;
  width: 400px !important;
  height: 450px !important;
  margin: 30px auto !important;
}

.card-text {
  overflow-y: scroll;
  max-height: 100px !important;
  padding: 5px;
}

/* Button Styling */

#btns-projects {
  display: flex;
  max-height: 40px;
  justify-content: space-around;
}

.btn-primary {
  background: var(--background) !important;
  border: none !important;
  align-items: center;
  justify-content: center;
}

.btn a {
  text-decoration: none;
  color: var(--main);
}

.btn a:hover {
  text-decoration: underline;
  color: var(--main);
}

/* Footer styling */

.footer {
  text-align: center;
  border-top: 2px solid var(--background);
  margin: 0;
  padding: 0 3%;
  height: 50px;
  background-color: #fff;
}
