/* Imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");

/* GLOBAL STYLING / RESETS */
:root {
  --background: #104d73;
  --main: #162b3f;
  --borders: #0e2292;
  --white-text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Satoshi", sans-serif;
  background: var(--main);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--main);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* General Styling */

h1 {
  font-family: "Anton", sans-serif;
  color: #ffffffcc;
  margin: 20px auto !important;
  text-align: center;
}

/* NavBar styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Anton", sans-serif;
  background: var(--main);
  color: var(--white-text);
  max-width: 1440px;
  height: 50px;
  margin: 0 auto;
}

header h3 {
  margin: 0;
}

nav a {
  text-decoration: none;
  background: linear-gradient(to right, var(--background), var(--background)),
    linear-gradient(to right, #fff, #fff, #fff);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

nav a:not(:last-child) {
  margin-right: 100px;
}

nav a.active {
  background-size: 0 0.1em, 100% 0.1em;
}

.fa-bars {
  display: none;
}

/* Home Page styling */

.home-wrapper {
  margin: 0 auto;
  height: auto;
  background: var(--main);
  text-align: center;
}

.home-wrapper p {
  font-family: "Satoshi", sans-serif;
  color: #ffffffcc;
  margin: 20px auto;
  width: 90%;
  max-width: 540px;
  text-align: left;
}

.headshot {
  border: 2px solid var(--background);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin: 20px 0 0 0;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.icons i {
  font-size: 2rem;
  filter: drop-shadow(0 2px 0.1rem rgb(0, 0, 0));
  z-index: 1;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-js {
  color: #f0db4f;
}

.fa-react {
  color: #61dafb;
}

.fa-bootstrap {
  color: #563d7c;
}

.fa-node {
  color: #3c873a;
}

.fa-npm {
  color: #cc3534;
}

.fa-github {
  color: #171515;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-envelope {
  color: #ea4335;
}

.cv {
  height: 20px;
  background: #fff;
}

/* Projects Page Styling */

.flex-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.custom-card {
  border: none !important;
  box-shadow: 1px 1px 6px #999;
  width: 100%;
  max-width: 380px;
  height: 500px;
  margin: 30px auto !important;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 150px;
  padding: 5px;
  margin-bottom: 20px;
}

#btns-projects {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 45px;
  border-radius: 32px !important;
  background: #5ec1ff !important;
  color: var(--main);
  text-align: center;
  padding: 0 10px;
}

.btn-primary a {
  font-size: 0.8rem;
  text-decoration: none;
  color: inherit;
  text-align: center;
  line-height: 2;
}

.btn-primary:hover {
  background: #37b2ff !important;
}

.btn:active {
  transform: translateY(4px);
}

/* Contact Page Styling */

.info-icons ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.info-icons li {
  list-style: none;
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

.info-icons li:hover {
  transform: scale(1.2);
}

.info-icons a {
  text-decoration: none;
}

.info-icons p {
  color: white;
  font-size: 1rem;
}

.contact-container {
  display: grid;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.contact-container h2,
.contact-wrapper h3 {
  color: var(--white-text);
}

#form {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "name email"
    "textarea textarea"
    "button button ";

  grid-template-columns: repeat(2, 180px);
  grid-template-rows: repeat(3, 50px);
}

#form > h3 {
  grid-area: h3;
}

#form > .name {
  grid-area: name;
}

#form > .email {
  grid-area: email;
}

#form > textarea {
  grid-area: textarea;
}

#form > .name,
#form > .email,
#form > textarea {
  background: var(--main);
  color: var(--white-text);
}

#form > button {
  grid-area: button;
}

:placeholder-shown {
  color: var(--background);
}

::placeholder {
  color: #ffffffa3;
}

input[type="text"],
textarea {
  padding-top: 17px;
}

.name,
.email,
textarea {
  height: 50px;
  border-width: 0 0 2px 0;
  border-bottom: 2px solid var(--background);
}

.name:focus,
.email:focus,
textarea:focus {
  outline: none;
  border-width: 0 0 2px 0;
  border-bottom: 3px solid #5ec1ff;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

#form button {
  width: 60%;
  margin: auto;
  border: none;
  border-radius: 32px;
  background: #5ec1ff;
  color: var(--main);
}

button:hover {
  background: #37b2ff;
}

.success-message {
  color: var(--white-text);
  text-wrap: pretty;
  max-width: 380px;
}

/* Footer Styling */

.background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 200px;
}

footer {
  width: 100%;
  height: auto;
  background: var(--main);
  text-align: center;
  position: relative;
  overflow: hidden;
}

section {
  position: relative;
  z-index: 2;
  width: 100%;
  backdrop-filter: blur(10px);
}

.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials i {
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

.socials i:hover {
  transform: scale(1.2);
}

.links {
  margin: 10px;
}

.legal {
  color: var(--white-text);
  font-size: 12px;
  margin: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.9;
  pointer-events: none;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .icons i {
    font-size: 1.5rem;
  }
  .info-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 490px) {
  header h3 {
    font-size: 1.2rem;
  }

  .navbar {
    width: 100%;
  }

  nav a {
    font-size: 1rem;
  }

  nav a:not(:last-child) {
    margin-right: 60px;
  }

  .home-wrapper img {
    height: 150px;
    width: 150px;
  }

  .card {
    max-width: 100%;
  }

  #form {
    display: flex;
    flex-direction: column;
  }

  .success-message {
    max-width: 225px;
  }
}
