/* Imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");

/* GLOBAL STYLING / RESETS */
:root {
  --background: #104d73;
  --main: #162b3f;
  --borders: #0e2292;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 1440px;
  font-family: "Satoshi", sans-serif;
  background: var(--main);
}

/* Main Styling */

h2 {
  text-align: center;
  margin-top: 30px !important;
}

/* NavBar styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Anton", sans-serif;
  background: var(--background);
  color: #fff;
  padding: 0 1%;
  height: 50px;
  margin: 0 auto;
}

header h3 {
  margin: 0;
}

nav a {
  text-decoration: none;
  background: linear-gradient(to right, var(--background), var(--background)),
    linear-gradient(to right, #fff, #fff, #fff);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

nav a:not(:last-child) {
  margin-right: 10px;
}

nav a.active {
  background-size: 0 0.1em, 100% 0.1em;
}

.fa-bars {
  display: none;
}

/* Home Page styling */

.home-wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
  height: 400px;
  background: var(--main);
}

.home-wrapper h1 {
  font-family: "Satoshi", sans-serif;
  color: #ffffffcc;
  margin: 0 auto;
}

.home-wrapper p {
  font-family: "Satoshi", sans-serif;
  color: #ffffffcc;
  margin: 0 auto;
}

.headshot {
  border: 2px solid #a0a0a0;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.icons-wrapper {
  width: 1440px;
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
  background: var(--background);
  border-radius: 20px;
  padding: 5px 0;
}

i {
  filter: drop-shadow(0 2px 0.1rem rgb(0, 0, 0));
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-js {
  color: #f0db4f;
}

.fa-react {
  color: #61dafb;
}

.fa-bootstrap {
  color: #563d7c;
}

.fa-node {
  color: #3c873a;
}

.fa-npm {
  color: #cc3534;
}

.fa-github {
  color: #171515;
}

.icons i {
  font-size: 2rem;
}

/* Projects Page Styling */

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
  gap: 5px;
}

/* Project Card Styling */
#spacecards {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 25px;
}

.card {
  border: none !important;
  box-shadow: 2px 2px 5px #999;
  width: 380px !important;
  height: 450px !important;
  margin: 30px auto !important;
}

.card-img-top {
  max-height: 200px;
  object-fit: fill;
}

.card-text {
  overflow-y: scroll;
  height: 120px !important;
  padding: 5px;
}

/* Button Styling */

#btns-projects {
  display: flex;
  max-height: 40px;
  justify-content: space-around;
  gap: 2px;
}

.btn-primary {
  background: var(--background) !important;
  border: none !important;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.btn:hover {
  background: #5ec1ff;
}

.btn a {
  text-decoration: none;
  color: var(--main);
}

.btn a:hover {
  color: var(--main);
}

.btn:active {
  transform: translateY(4px);
}

/* My Information Styling */

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.info-wrapper ul li a {
  font-size: 2rem;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-envelope {
  color: #ea4335;
}

.cv {
  height: 28px;
}

/* Contact Page Styling */

.contact-container {
  display: grid;
  justify-content: center;
  text-align: center;
  width: 100% !important;
}

.contact-container h2,
.contact-wrapper h3 {
  color: #fff;
}

.contact-container ul {
  padding: 0;
  justify-content: space-evenly;
}

#form {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "name email"
    "textarea textarea"
    "button button ";

  grid-template-columns: repeat(2, 180px);
  grid-template-rows: repeat(3, 50px);
}

#form > h3 {
  grid-area: h3;
}

#form > .name {
  grid-area: name;
}

#form > .email {
  grid-area: email;
}

#form > textarea {
  grid-area: textarea;
}

#form > .name,
#form > .email,
#form > textarea {
  background: var(--main);
  color: #fff;
}

#form > button {
  grid-area: button;
}

:placeholder-shown {
  color: var(--background);
}

::placeholder {
  color: #ffffffa3;
}

input[type="text"],
textarea {
  padding-top: 17px;
}

.name,
.email,
textarea {
  height: 50px;
  border-width: 0 0 2px 0;
  border-bottom: 2px solid var(--background);
}

.name:focus,
.email:focus,
textarea:focus {
  outline: none;
  border-width: 0 0 2px 0;
  border-bottom: 3px solid #5ec1ff;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

button {
  width: 60%;
  height: 45px;
  margin: auto !important;
  border: none;
  border-radius: 12px !important;
  background: #5ec1ff;
  color: var(--main);
}

button:hover {
  background: #37b2ff !important;
}

button:active {
  transform: translateY(4px);
}

/* Footer styling */

.footer {
  border-top: 2px solid var(--borders);
  background: var(--background);
  height: 50px;
}

.footer span {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #ffffffcc;
}

/* MEDIA QUERIES */

/* Nav Bar and Homepage */

@media only screen and (max-width: 490px) {
  header h3 {
    font-size: 1.2rem;
    margin: 0;
  }

  nav a {
    font-size: 1rem;
  }

  .home-wrapper img {
    height: 150px;
    width: 150px;
  }

  .home-wrapper p {
    padding: 20px;
  }

  .icons {
    padding: 25px;
  }

  .card {
    max-width: 80vw;
  }

  .contact-container {
    width: 100% !important;
    justify-content: center;
  }

  .info-wrapper {
    width: 100vw;
  }

  #form {
    padding: 0 30px 0 30px;
  }
}

@media only screen and (max-width: 394px) {
  header h3 {
    font-size: 1rem !important;
    margin: 0;
  }

  nav a {
    font-size: 0.9rem !important;
  }

  .icons {
    gap: 5px;
    margin: auto;
  }

  .card {
    max-width: 80vw;
  }

  .contact-container {
    width: 100vw;
  }

  .info-wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
  }

  ul {
    gap: 20px;
  }

  #form {
    padding: 0 60px 0 60px !important;
    grid-template-areas:
      "name"
      "email"
      "textarea"
      "button";

    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 50px);
  }
}

@media only screen and (max-width: 320px) {
  #root {
    font-size: 0.8rem;
  }

  .icons i {
    font-size: 25px;
  }

  button {
    width: 50%;
    height: 70%;
  }

  .btn {
    font-size: 0.7rem !important;
    height: 3rem;
    width: 6rem;
  }
}
